@font-face {
            font-family: 'Nanum_GaRamYeonGgoc'; /* 가람연꽃 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GaRamYeonGgoc.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GarMaesGeur'; /* 갈맷글 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GarMaesGeur.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GangBuJangNimCe'; /* 강부장님체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GangBuJangNimCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GangInHanWiRo'; /* 강인한 위로 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GangInHanWiRo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GoDigANiGoGoDing'; /* 고딕 아니고 고딩 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GoDigANiGoGoDing.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GoRyeoGeurGgor'; /* 고려글꼴 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GoRyeoGeurGgor.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GomSinCe'; /* 곰신체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GomSinCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GyuRiEuiIrGi'; /* 규리의 일기 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GyuRiEuiIrGi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GeumEunBoHwa'; /* 금은보화 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GeumEunBoHwa.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GiBbeumBarkEum'; /* 기쁨밝음 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GiBbeumBarkEum.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GimYuICe'; /* 김유이체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GimYuICe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GgocNaeEum'; /* 꽃내음 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GgocNaeEum.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_GgeuTeuMeoRiCe'; /* 끄트머리체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_GgeuTeuMeoRiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_NaNeunIGyeoNaenDa'; /* 나는 이겨낸다 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_NaNeunIGyeoNaenDa.woff2') format('woff2');
}
@font-face {
            font-family: 'Nanum_NaMuJeongWeon'; /* 나무정원 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_NaMuJeongWeon.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_NaEuiANaeSonGeurSsi'; /* 나의 아내 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_NaEuiANaeSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_NoRyeogHaNeunDongHeui'; /* 노력하는 동희 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_NoRyeogHaNeunDongHeui.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_NeuRisNeuRisCe'; /* 느릿느릿체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_NeuRisNeuRisCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaSiSiJagHae'; /* 다시 시작해 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaSiSiJagHae.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaJinCe'; /* 다진체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaJinCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaCaeSaRang'; /* 다채사랑 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaCaeSaRang.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaHaengCe'; /* 다행체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaHaengCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DarEuiGweDo'; /* 달의궤도 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DarEuiGweDo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaeGwangYuRi'; /* 대광유리 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaeGwangYuRi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DaeHanMinGugYeorSaCe'; /* 대한민국 열사체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DaeHanMinGugYeorSaCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DongHwaDdoBag'; /* 동화또박 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DongHwaDdoBag.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DungGeunInYeon'; /* 둥근인연 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DungGeunInYeon.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DdaDdeusHanJagByeor'; /* 따뜻한 작별 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DdaDdeusHanJagByeor.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DdaAgDanDan'; /* 따악단단 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DdaAgDanDan.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DdarEGeEomMaGa'; /* 딸에게 엄마가 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DdarEGeEomMaGa.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_DdoBagDdoBag'; /* 또박또박 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_DdoBagDdoBag.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MaGoCe'; /* 마고체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MaGoCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MasIssNeunCe'; /* 맛있는체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MasIssNeunCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MongDor'; /* 몽돌 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MongDor.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MuGungHwa'; /* 무궁화 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MuGungHwa.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MuJinJangCe'; /* 무진장체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MuJinJangCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MiNiSonGeurSsi'; /* 미니 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MiNiSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_MiRaeNaMu'; /* 미래나무 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_MiRaeNaMu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BaReunJeongSin'; /* 바른정신 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BaReunJeongSin.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BaReunHiPi'; /* 바른히피 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BaReunHiPi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BanJjagBanJjagByeor'; /* 반짝반짝 별 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BanJjagBanJjagByeor.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BaeEunHyeCe'; /* 배은혜체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BaeEunHyeCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BaegEuiEuiCeonSa'; /* 백의의 천사 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BaegEuiEuiCeonSa.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BeoDeuNaMu'; /* 버드나무 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BeoDeuNaMu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BeomSomCe'; /* 범솜체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BeomSomCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BuJangNimNunCiCe'; /* 부장님 눈치체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BuJangNimNunCiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BugGeugSeong'; /* 북극성 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BugGeugSeong.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BiSangCe'; /* 비상체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BiSangCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_BbangGuNiMamSonGeurSsi'; /* 빵구니맘 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_BbangGuNiMamSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SaRangHaeADeur'; /* 사랑해 아들 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SaRangHaeADeur.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SangHaeCanMiCe'; /* 상해찬미체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SangHaeCanMiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SeongSirCe'; /* 성실체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SeongSirCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SeGyeJeogInHanGeur'; /* 세계적인 한글 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SeGyeJeogInHanGeur.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SeACe'; /* 세아체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SeACe.woff2') format('woff2');
}

@font-face {
            font-family: 'Nanum_SeHwaCe'; /* 세화체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SeHwaCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SoMiCe'; /* 소미체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SoMiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SoBangGwanEuiGiDo'; /* 소방관의 기도 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SoBangGwanEuiGiDo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SonPyeonJiCe'; /* 손편지체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SonPyeonJiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SuJubEunDaeHagSaeng'; /* 수줍은 대학생 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SuJubEunDaeHagSaeng.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SiUGwiYeoWeo'; /* 시우 귀여워 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SiUGwiYeoWeo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_SinHonBuBu'; /* 신혼부부 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_SinHonBuBu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AGiSaRangCe'; /* 아기사랑체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AGiSaRangCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AReumDeuRiGgocNaMu'; /* 아름드리 꽃나무 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AReumDeuRiGgocNaMu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_ABbaGeurSsi'; /* 아빠글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_ABbaGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_ABbaEuiYeonAePyeonJi'; /* 아빠의 연애편지 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_ABbaEuiYeonAePyeonJi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AInMamSonGeurSsi'; /* 아인맘 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AInMamSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AJumMaJaYu'; /* 아줌마 자유 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AJumMaJaYu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AnSsangCe'; /* 안쌍체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AnSsangCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_AmSeuTeReuDam'; /* 암스테르담 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_AmSeuTeReuDam.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YaGeunHaNeunGimJuIm'; /* 야근하는 김주임 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YaGeunHaNeunGimJuIm.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YaCaeJangSuBaegGeumRye'; /* 야채장수 백금례 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YaCaeJangSuBaegGeumRye.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_EomMaSaRang'; /* 엄마사랑 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_EomMaSaRang.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_EongGeongKwiCe'; /* 엉겅퀴체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_EongGeongKwiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeoReumGeurSsi'; /* 여름글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeoReumGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeonJiCe'; /* 연지체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeonJiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeorAHobEuiBanJjagIm'; /* 열아홉의 반짝임 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeorAHobEuiBanJjagIm.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeorIrCe'; /* 열일체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeorIrCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeDangCe'; /* 예당체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeDangCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YeBbeunMinGyeongCe'; /* 예쁜 민경체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YeBbeunMinGyeongCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_OgBiCe'; /* 옥비체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_OgBiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_WaIrDeu'; /* 와일드 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_WaIrDeu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_OeHarMeoNiGeurSsi'; /* 외할머니글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_OeHarMeoNiGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_OenSonJabIDoYeBbeo'; /* 왼손잡이도 예뻐 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_OenSonJabIDoYeBbeo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_URiDdarSonGeurSsi'; /* 우리딸 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_URiDdarSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_YuNiDdingDdangDdingDdang'; /* 유니 띵땅띵땅 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_YuNiDdingDdangDdingDdang.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_EuiMiIssNeunHanGeur'; /* 의미있는 한글 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_EuiMiIssNeunHanGeur.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JaBuSimJiU'; /* 자부심지우 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JaBuSimJiU.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JarHaGoIssEo'; /* 잘하고 있어 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JarHaGoIssEo.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JangMiCe'; /* 장미체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JangMiCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JeomGgorCe'; /* 점꼴체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JeomGgorCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JeongEunCe'; /* 정은체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JeongEunCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JungHagSaeng'; /* 중학생 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JungHagSaeng.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_JinJuBagGyeongACe'; /* 진주 박경아체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_JinJuBagGyeongACe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_CeorPirGeurSsi'; /* 철필글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_CeorPirGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_CoDingHeuiMang'; /* 초딩희망 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_CoDingHeuiMang.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_KarGugSu'; /* 칼국수 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_KarGugSu.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_KoKoCe'; /* 코코체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_KoKoCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HaNaDoeEoSonGeurSsi'; /* 하나되어 손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HaNaDoeEoSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HaNaSonGeurSsi'; /* 하나손글씨 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HaNaSonGeurSsi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HaRamCe'; /* 하람체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HaRamCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HanYunCe'; /* 한윤체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HanYunCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HarABeoJiEuiNaNum'; /* 할아버지의나눔 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HarABeoJiEuiNaNum.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HaengBogHanDoBi'; /* 행복한 도비 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HaengBogHanDoBi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HyeogICe'; /* 혁이체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HyeogICe.woff2') format('woff2');
}

@font-face {
            font-family: 'Nanum_HyeJunCe'; /* 혜준체 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HyeJunCe.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HyoNamNeurHwaITing'; /* 효남 늘 화이팅 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HyoNamNeurHwaITing.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HeuiMangNuRi'; /* 희망누리 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HeuiMangNuRi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HeuinGgoRiSuRi'; /* 흰꼬리수리 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HeuinGgoRiSuRi.woff2') format('woff2');
}
        
@font-face {
            font-family: 'Nanum_HimNaeRaNeunMarBoDan'; /* 힘내라는 말보단 */
            src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/Nanumsongeulssi/Nanum_HimNaeRaNeunMarBoDan.woff2') format('woff2');
}
        
