
@font-face {
    font-family: 'NanumGothic';
    src: url('Woff2_변환\NanumGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('Woff2_변환\NanumGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('Woff2_변환\NanumGothicExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url('Woff2_변환\NanumGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothic-YetHangul';
    src: url('Woff2_변환\NanumBarunGothic-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('Woff2_변환\NanumBarunGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('Woff2_변환\NanumBarunGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('Woff2_변환\NanumBarunGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('Woff2_변환\NanumBarunGothicUltraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenB';
    src: url('Woff2_변환\NanumBarunpenB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenR';
    src: url('Woff2_변환\NanumBarunpenR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBrush';
    src: url('Woff2_변환\NanumBrush.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEco';
    src: url('Woff2_변환\NanumGothicEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoBold';
    src: url('Woff2_변환\NanumGothicEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoExtraBold';
    src: url('Woff2_변환\NanumGothicEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo-YetHangul';
    src: url('Woff2_변환\NanumMyeongjo-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('Woff2_변환\NanumMyeongjo.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoBold';
    src: url('Woff2_변환\NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEco';
    src: url('Woff2_변환\NanumMyeongjoEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoBold';
    src: url('Woff2_변환\NanumMyeongjoEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoExtraBold';
    src: url('Woff2_변환\NanumMyeongjoEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('Woff2_변환\NanumMyeongjoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumPen';
    src: url('Woff2_변환\NanumPen.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('Woff2_변환\NanumSquareB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url('Woff2_변환\NanumSquareEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareL';
    src: url('Woff2_변환\NanumSquareL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-aLt';
    src: url('Woff2_변환\NanumSquareNeo-aLt.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-bRg';
    src: url('Woff2_변환\NanumSquareNeo-bRg.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-cBd';
    src: url('Woff2_변환\NanumSquareNeo-cBd.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-dEb';
    src: url('Woff2_변환\NanumSquareNeo-dEb.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-eHv';
    src: url('Woff2_변환\NanumSquareNeo-eHv.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('Woff2_변환\NanumSquareR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('Woff2_변환\NanumSquareRoundB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('Woff2_변환\NanumSquareRoundEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url('Woff2_변환\NanumSquareRoundL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('Woff2_변환\NanumSquareRoundR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acB';
    src: url('Woff2_변환\NanumSquare_acB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acEB';
    src: url('Woff2_변환\NanumSquare_acEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acL';
    src: url('Woff2_변환\NanumSquare_acL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acR';
    src: url('Woff2_변환\NanumSquare_acR.woff2') format('woff2');
}

@font-face {
    font-family: 'D2Coding-ligature';
    src: url('Woff2_변환\D2Coding-ligature.woff2') format('woff2');
}

@font-face {
    font-family: 'D2CodingBold-ligature';
    src: url('Woff2_변환\D2CodingBold-ligature.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Bold';
    src: url('Woff2_변환\MaruBuri-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-ExtraLight';
    src: url('Woff2_변환\MaruBuri-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Light';
    src: url('Woff2_변환\MaruBuri-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('Woff2_변환\MaruBuri-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-SemiBold';
    src: url('Woff2_변환\MaruBuri-SemiBold.woff2') format('woff2');
}
