
@font-face {
    font-family: 'NanumGothic';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothic-YetHangul';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunGothic-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunGothicUltraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunpenB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBarunpenR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBrush';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumBrush.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEco';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumGothicEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo-YetHangul';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjo-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjo.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEco';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjoEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjoEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjoEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumMyeongjoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumPen';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumPen.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-aLt';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareNeo-aLt.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-bRg';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareNeo-bRg.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-cBd';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareNeo-cBd.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-dEb';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareNeo-dEb.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-eHv';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareNeo-eHv.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareRoundB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareRoundEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareRoundL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquareRoundR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquare_acB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquare_acEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquare_acL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/NanumSquare_acR.woff2') format('woff2');
}

@font-face {
    font-family: 'D2Coding-ligature';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/D2Coding-ligature.woff2') format('woff2');
}

@font-face {
    font-family: 'D2CodingBold-ligature';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/D2CodingBold-ligature.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/MaruBuri-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/MaruBuri-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Light';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/MaruBuri-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/MaruBuri-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumFonts_subset/MaruBuri-SemiBold.woff2') format('woff2');
}
