@font-face {
    font-family: 'D2Coding-ligature';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/D2Coding_ligature_v1.3.2/D2Coding-ligature.woff2') format('woff2');
}

@font-face {
    font-family: 'D2CodingBold-ligature';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/D2Coding_ligature_v1.3.2/D2CodingBold-ligature.woff2') format('woff2');
}

@font-face {
font-family: 'NanumBarunGothic-YetHangul';
src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunGothic-YetHangul_v1.0.0.4/NanumBarunGothic-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunGothic_v1.0/NanumBarunGothicUltraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunGothic_v1.0/NanumBarunGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunGothic_v1.0/NanumBarunGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunGothic_v1.0/NanumBarunGothicBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunpen_v1.0/NanumBarunpenR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBarunpenB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBarunpen_v1.0/NanumBarunpenB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumBrush';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumBrush_v1.1/NanumBrush.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicLight.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NanumGothicEco';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumGothicEcoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothicEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo-YetHangul';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjo-YetHangul_v1.0.0.9/NanumMyeongjo-YetHangul.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEco';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjoEco_v1.0/NanumMyeongjoEco.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjoEco_v1.0/NanumMyeongjoEcoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoEcoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjoEco_v1.0/NanumMyeongjoEcoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjo_v3.011/NanumMyeongjo.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjo_v3.011/NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumMyeongjoExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumMyeongjo_v3.011/NanumMyeongjoExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumPen';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumPen_v1.1/NanumPen.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-aLt';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareNeo_v1.0/NanumSquareNeo-aLt.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-bRg';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareNeo_v1.0/NanumSquareNeo-bRg.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-cBd';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareNeo_v1.0/NanumSquareNeo-cBd.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-dEb';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareNeo_v1.0/NanumSquareNeo-dEb.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareNeo-eHv';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareNeo_v1.0/NanumSquareNeo-eHv.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareRound_v1.0/NanumSquareRoundL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareRound_v1.0/NanumSquareRoundR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareRound_v1.0/NanumSquareRoundB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquareRound_v1.0/NanumSquareRoundEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquareL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquareR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquareB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquareEB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acL';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquare_acL.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acR';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquare_acR.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquare_acB.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquare_acEB';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumSquare_v1.0/NanumSquare_acEB.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/MaruBuri_v2.0/MaruBuri-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Light';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/MaruBuri_v2.0/MaruBuri-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/MaruBuri_v2.0/MaruBuri-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/MaruBuri_v2.0/MaruBuri-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'MaruBuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/MaruBuri_v2.0/MaruBuri-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MyWebFont';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/.woff2') format('woff2');
}

@font-face {
    font-family: 'MyWebFont';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/.woff2') format('woff2');
}

@font-face {
    font-family: 'MyWebFont';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/.woff2') format('woff2');
}

@font-face {
    font-family: 'MyWebFont';
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/.woff2') format('woff2');
}
