/* 한글 음절 (가-날) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset3.woff2') format('woff2');
  unicode-range: U+AC00-U+B098;
}

/* 한글 음절 (남-닣) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset4.woff2') format('woff2');
  unicode-range: U+B099-U+B2E3;
}

/* 한글 음절 (다-띻) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset5.woff2') format('woff2');
  unicode-range: U+B2E4-U+B77F;
}

/* 한글 음절 (라-싛) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset6.woff2') format('woff2');
  unicode-range: U+B780-U+BC1B;
}

/* 한글 음절 (시-얶) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset7.woff2') format('woff2');
  unicode-range: U+BC1C-U+C0B6;
}

/* 한글 음절 (얷-좋) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset8.woff2') format('woff2');
  unicode-range: U+C0B7-U+C5B3;
}

/* 한글 음절 (좌-칐) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset9.woff2') format('woff2');
  unicode-range: U+C5B4-U+CA50;
}

/* 한글 음절 (칑-틛) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset10.woff2') format('woff2');
  unicode-range: U+CA51-U+CEEB;
}

/* 한글 음절 (틜-핆) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset11.woff2') format('woff2');
  unicode-range: U+CEEC-U+D386;
}

/* 한글 음절 (핇-힣) */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset12.woff2') format('woff2');
  unicode-range: U+D387-U+D7A3;
}

/* 한자 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset13.woff2') format('woff2');
  unicode-range: U+4E00-U+9FFF;
}

/* 일본어 히라가나 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset14.woff2') format('woff2');
  unicode-range: U+3040-U+309F;
}

/* 일본어 가타카나 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset15.woff2') format('woff2');
  unicode-range: U+30A0-U+30FF;
}

/* 기본 라틴 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset16.woff2') format('woff2');
  unicode-range: U+0020-U+007F;
}

/* 라틴-1 보충 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset17.woff2') format('woff2');
  unicode-range: U+0080-U+00FF;
}

/* 라틴 확장-A */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset18.woff2') format('woff2');
  unicode-range: U+0100-U+017F;
}

/* 라틴 확장-B */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset19.woff2') format('woff2');
  unicode-range: U+0180-U+024F;
}

/* IPA 확장 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset20.woff2') format('woff2');
  unicode-range: U+0250-U+02AF;
}

/* 일반 구두점 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset21.woff2') format('woff2');
  unicode-range: U+2000-U+206F;
}

/* 윗첨자 및 아래첨자 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset22.woff2') format('woff2');
  unicode-range: U+2070-U+209F;
}

/* 통화 기호 */
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothic_subset23.woff2') format('woff2');
  unicode-range: U+20A0-U+20CF;
}




/* 한글 음절 (가-날) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset3.woff2') format('woff2');
  unicode-range: U+AC00-U+B098;
}

/* 한글 음절 (남-닣) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset4.woff2') format('woff2');
  unicode-range: U+B099-U+B2E3;
}

/* 한글 음절 (다-띻) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset5.woff2') format('woff2');
  unicode-range: U+B2E4-U+B77F;
}

/* 한글 음절 (라-싛) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset6.woff2') format('woff2');
  unicode-range: U+B780-U+BC1B;
}

/* 한글 음절 (시-얶) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset7.woff2') format('woff2');
  unicode-range: U+BC1C-U+C0B6;
}

/* 한글 음절 (얷-좋) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset8.woff2') format('woff2');
  unicode-range: U+C0B7-U+C5B3;
}

/* 한글 음절 (좌-칐) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset9.woff2') format('woff2');
  unicode-range: U+C5B4-U+CA50;
}

/* 한글 음절 (칑-틛) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset10.woff2') format('woff2');
  unicode-range: U+CA51-U+CEEB;
}

/* 한글 음절 (틜-핆) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset11.woff2') format('woff2');
  unicode-range: U+CEEC-U+D386;
}

/* 한글 음절 (핇-힣) */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset12.woff2') format('woff2');
  unicode-range: U+D387-U+D7A3;
}

/* 한자 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset13.woff2') format('woff2');
  unicode-range: U+4E00-U+9FFF;
}

/* 일본어 히라가나 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset14.woff2') format('woff2');
  unicode-range: U+3040-U+309F;
}

/* 일본어 가타카나 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset15.woff2') format('woff2');
  unicode-range: U+30A0-U+30FF;
}

/* 기본 라틴 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset16.woff2') format('woff2');
  unicode-range: U+0020-U+007F;
}

/* 라틴-1 보충 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset17.woff2') format('woff2');
  unicode-range: U+0080-U+00FF;
}

/* 라틴 확장-A */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset18.woff2') format('woff2');
  unicode-range: U+0100-U+017F;
}

/* 라틴 확장-B */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset19.woff2') format('woff2');
  unicode-range: U+0180-U+024F;
}

/* IPA 확장 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset20.woff2') format('woff2');
  unicode-range: U+0250-U+02AF;
}

/* 일반 구두점 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset21.woff2') format('woff2');
  unicode-range: U+2000-U+206F;
}

/* 윗첨자 및 아래첨자 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset22.woff2') format('woff2');
  unicode-range: U+2070-U+209F;
}

/* 통화 기호 */
@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  display: swap;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicBold_subset23.woff2') format('woff2');
  unicode-range: U+20A0-U+20CF;
}





/* 한글 음절 (가-날) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset3.woff2') format('woff2');
  unicode-range: U+AC00-U+B098;
}

/* 한글 음절 (남-닣) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset4.woff2') format('woff2');
  unicode-range: U+B099-U+B2E3;
}

/* 한글 음절 (다-띻) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset5.woff2') format('woff2');
  unicode-range: U+B2E4-U+B77F;
}

/* 한글 음절 (라-싛) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset6.woff2') format('woff2');
  unicode-range: U+B780-U+BC1B;
}

/* 한글 음절 (시-얶) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset7.woff2') format('woff2');
  unicode-range: U+BC1C-U+C0B6;
}

/* 한글 음절 (얷-좋) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset8.woff2') format('woff2');
  unicode-range: U+C0B7-U+C5B3;
}

/* 한글 음절 (좌-칐) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset9.woff2') format('woff2');
  unicode-range: U+C5B4-U+CA50;
}

/* 한글 음절 (칑-틛) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset10.woff2') format('woff2');
  unicode-range: U+CA51-U+CEEB;
}

/* 한글 음절 (틜-핆) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset11.woff2') format('woff2');
  unicode-range: U+CEEC-U+D386;
}

/* 한글 음절 (핇-힣) */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset12.woff2') format('woff2');
  unicode-range: U+D387-U+D7A3;
}

/* 한자 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset13.woff2') format('woff2');
  unicode-range: U+4E00-U+9FFF;
}

/* 일본어 히라가나 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset14.woff2') format('woff2');
  unicode-range: U+3040-U+309F;
}

/* 일본어 가타카나 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset15.woff2') format('woff2');
  unicode-range: U+30A0-U+30FF;
}

/* 기본 라틴 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset16.woff2') format('woff2');
  unicode-range: U+0020-U+007F;
}

/* 라틴-1 보충 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset17.woff2') format('woff2');
  unicode-range: U+0080-U+00FF;
}

/* 라틴 확장-A */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset18.woff2') format('woff2');
  unicode-range: U+0100-U+017F;
}

/* 라틴 확장-B */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset19.woff2') format('woff2');
  unicode-range: U+0180-U+024F;
}

/* IPA 확장 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset20.woff2') format('woff2');
  unicode-range: U+0250-U+02AF;
}

/* 일반 구두점 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset21.woff2') format('woff2');
  unicode-range: U+2000-U+206F;
}

/* 윗첨자 및 아래첨자 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset22.woff2') format('woff2');
  unicode-range: U+2070-U+209F;
}

/* 통화 기호 */
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicExtraBold_subset23.woff2') format('woff2');
  unicode-range: U+20A0-U+20CF;
}






/* 한글 음절 (가-날) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset3.woff2') format('woff2');
  unicode-range: U+AC00-U+B098;
}

/* 한글 음절 (남-닣) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset4.woff2') format('woff2');
  unicode-range: U+B099-U+B2E3;
}

/* 한글 음절 (다-띻) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset5.woff2') format('woff2');
  unicode-range: U+B2E4-U+B77F;
}

/* 한글 음절 (라-싛) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset6.woff2') format('woff2');
  unicode-range: U+B780-U+BC1B;
}

/* 한글 음절 (시-얶) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset7.woff2') format('woff2');
  unicode-range: U+BC1C-U+C0B6;
}

/* 한글 음절 (얷-좋) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset8.woff2') format('woff2');
  unicode-range: U+C0B7-U+C5B3;
}

/* 한글 음절 (좌-칐) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset9.woff2') format('woff2');
  unicode-range: U+C5B4-U+CA50;
}

/* 한글 음절 (칑-틛) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset10.woff2') format('woff2');
  unicode-range: U+CA51-U+CEEB;
}

/* 한글 음절 (틜-핆) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset11.woff2') format('woff2');
  unicode-range: U+CEEC-U+D386;
}

/* 한글 음절 (핇-힣) */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset12.woff2') format('woff2');
  unicode-range: U+D387-U+D7A3;
}

/* 한자 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset13.woff2') format('woff2');
  unicode-range: U+4E00-U+9FFF;
}

/* 일본어 히라가나 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset14.woff2') format('woff2');
  unicode-range: U+3040-U+309F;
}

/* 일본어 가타카나 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset15.woff2') format('woff2');
  unicode-range: U+30A0-U+30FF;
}

/* 기본 라틴 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset16.woff2') format('woff2');
  unicode-range: U+0020-U+007F;
}

/* 라틴-1 보충 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset17.woff2') format('woff2');
  unicode-range: U+0080-U+00FF;
}

/* 라틴 확장-A */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset18.woff2') format('woff2');
  unicode-range: U+0100-U+017F;
}

/* 라틴 확장-B */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset19.woff2') format('woff2');
  unicode-range: U+0180-U+024F;
}

/* IPA 확장 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset20.woff2') format('woff2');
  unicode-range: U+0250-U+02AF;
}

/* 일반 구두점 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset21.woff2') format('woff2');
  unicode-range: U+2000-U+206F;
}

/* 윗첨자 및 아래첨자 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset22.woff2') format('woff2');
  unicode-range: U+2070-U+209F;
}

/* 통화 기호 */
@font-face {
  font-family: 'NanumGothicLight';
  font-style: normal;
  display: swap;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Nanum_Fonts/NanumGothic_v1.0/NanumGothic_subset/NanumGothicLight_subset23.woff2') format('woff2');
  unicode-range: U+20A0-U+20CF;
}
